@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Araside';
  src: url('../media/fonts/Araside.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.stripped-bg {
  background-image: url('/media/BG.png');
  background-size: cover;
  background-position: center;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes animate_text-inv {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.text {
  animation: animate_text 5s linear infinite;
}
.text-inv {
  animation: animate_text-inv 5s linear infinite;
}

.texts-b {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
}

.scrolling-text {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #000000;
}

/* Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #008cd6; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color when hovered */
}
